/*  */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Poetsen+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/*  */
@tailwind base;
@tailwind components;
@tailwind utilities;
/*  */
body {
  font-family: "Cairo", sans-serif;
  background: #fff;
  position: relative;
}
html {
  scroll-behavior: smooth;
}
@layer components {
  .form-control {
    @apply outline-none w-full focus:outline-orange-200  border border-orange-200 border-opacity-50 px-3 py-1 rounded text-lg font-normal text-gray-900;
  }
}
@layer components {
  .btn {
    @apply bg-orange-500 hover:bg-orange-700 duration-300 font-semibold px-6 py-1 rounded-md text-base md:text-lg text-gray-100;
  }
}
@layer components {
  .input-error {
    @apply text-red-500 font-sans text-sm;
  }
}
/* //=== navbar====== */

/* //=== navbar screens====== */
.lgNav {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.smNav {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  z-index: 9999;
}
@media (max-width: 640px) {
  .lgNav {
    display: none;
  }
  .smNav {
    display: block;
  }
}
@media (min-width: 640px) {
  .lgNav {
    display: none;
  }
  .smNav {
    display: block;
  }
}

@media (min-width: 1024px) {
  .lgNav {
    display: block;
  }
  .smNav {
    display: none;
  }
}

/* //=== navbar models====== */
#model,
#searchModel {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background: #001c2e;
  transition: all 0.5s ease-in-out;
}
#searchModel {
  background: #f7f7ff;
}

#modelList {
  max-height: 302px;
  overflow-y: auto;
  margin-inline: auto;
  background: #00111b;
  animation: show 0.8s ease-in-out;
}
@keyframes show {
  0% {
    scale: 0;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

/* //=== navbar links====== */
#navLink {
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
#navLink:hover {
  overflow: visible;
}
#tooltip {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  top: 100px;
  transition: all 0.5s ease-in-out;
}
#navLink:hover #tooltip {
  opacity: 1;
  top: 84px;
}

/* // ==== End navbar ==== */

/* // ==== bg titles ==== */
.BbgTitle {
  background-image: url("./assets/imagesAni/bgTitleB.png");
  background-repeat: repeat;
}
.ObgTitle {
  background-image: url("./assets/imagesAni/bgTitleO.png");
  background-repeat: repeat;
}
/* ======ToTopBtn========= */
.ToTopBtn.active {
  opacity: 1;
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 9999;
  transition: all 0.5s ease-in-out;
}
/* ====== our-Work section ===== */

#our-Work {
  background-image: url("./assets/images/wavy3.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

/* ====== appointment section ====== */
#appointment {
  background-image: url("./assets/images/wavy4.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

/* ======= Services section ======= */

.servicesBg {
  background-image: url("./assets/images/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: 0%  20px; */
}

/* ====== testimonial section ====== */
.testimonialBg {
  background-image: url("./assets/images/bg3.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
/* ======   numbers cheap    ======== */

.num {
  -webkit-text-stroke: 2px #f17732;
  color: transparent;
  font-size: 80px;
  font-weight: 900;
  line-height: 80px;
  margin-bottom: 30px;
  text-shadow: 0 10px 0 #ffe3d3;
  transition: all 0.5s;
}
/* ================= */
.cube-container {
    perspective: 300px;
}

#mask {
  -webkit-mask-image: url("./assets/image/mask.png");
    mask-image: url("./assets/image/mask.png");

    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-size: 100%;
}

/* ================ */
@media (max-width: 768px) {
  .breadcrumb {
    flex-direction: column;
    text-align: center;
  }
  .breadcrumb a {
    font-size: 1.5rem;
  }
}
/* =============== */
@media (max-width: 768px) {
  .form-control {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .btn {
    font-size: 1rem;
  }
}
/* ================ */
@media (max-width: 768px) {
  .text-xl {
    font-size: 1.25rem;
  }
}
/* ================ */
/* ================ */
/* ================ */
/* ================ */
/* ================ */
@media (max-width: 768px) {
  .text-2xl {
    font-size: 1.5rem;
  }
  .text-3xl {
    font-size: 1.875rem;
  }
  .text-4xl {
    font-size: 2.25rem;
  }
  .text-5xl {
    font-size: 3rem;
  }
  .text-6xl {
    font-size: 3.75rem;
  }
}